@media all {
  html,
  body,
  div,
  span,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  abbr,
  address,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  samp,
  small,
  strong,
  sub,
  sup,
  var,
  b,
  i,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    /* outline: 2px red solid; */
  }

  body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background: #222;
    color: rgba(255, 255, 255, 1);
    font-family: "Shippori Mincho", serif;
  }

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 1);
  }

  li {
    list-style: none;
  }

  .noscroll {
    overflow: hidden;
  }

  .blur-moji {
    animation-name: blur;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes blur {
    from {
      filter: blur(50px);
    }

    to {
      filter: blur(0);
      transform: scale(1);
    }
  }

  header {
    width: 100%;
    height: 80px;
    z-index: 9999;
    position: fixed;
    transition: padding 0.5s, background-color 0.5s;
  }

  .header-logo {
    width: 150px;
    margin: 20px;
    position: relative;
  }

  #splash-logo {
    position: relative;
  }

  .header-img img {
    width: 93%;
    object-fit: cover;
  }

  .nav {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 2%;
  }

  .menu-group {
    display: flex;
  }

  .menu-item {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: clamp(0.938rem, 0.917rem + 0.1vw, 1rem);
    letter-spacing: 0.3em;
    height: fit-content;
    margin: 0 12px;
  }

  .menu-style {
    display: inline;
    padding: 5px;
  }

  .menu-style:hover {
    border: 1px solid rgba(217, 217, 217, 0.8);
  }

  .nav-hover {
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  .moji-kotei {
    position: relative;
  }

  .slider {
    position: relative;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
  }

  .slider img {
    object-fit: cover;
    width: 100%;
    height: 100dvh;
  }

  .slider:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .sub-moji {
    z-index: 9998;
    position: absolute;
    left: 0%;
    bottom: 10%;
  }

  .sub-moji1 {
    font-size: clamp(2rem, 1.458rem + 1.93vw, 3rem);
    font-weight: 700;
    font-style: bold;
    padding: 20px 60px 20px 100px;
    position: relative;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
  }

  .sub-moji2 {
    font-size: clamp(0.938rem, 0.808rem + 0.55vw, 1.25rem);
    padding-left: 95px;
    letter-spacing: 0.1em;
    font-weight: 500;
  }

  .sub-moji1::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 15px;
    left: 0px;
  }

  /* ===============ボタン===================== */

  .btn-hover {
    z-index: 9998;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: rgba(175, 151, 112, 1);
    border: 1px solid rgba(175, 151, 112, 1);
    width: 245px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .access-btn,
  .rooms-btn,
  .price-btn,
  .group-btn,
  .rooms-reserv-btn {
    text-align: center;
    text-decoration: none;
    outline: none;
    border-bottom: 2px;
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border: 1px solid rgba(175, 151, 112, 1);
    background: rgba(175, 151, 112, 1);
    line-height: 20px;
    padding: 8px 0 10px 0;
  }

  .group-btn {
    margin-top: 0;
    width: 250px;
  }

  .access-btn:hover,
  .rooms-btn:hover,
  .btn-hover:hover,
  .price-btn:hover,
  .group-btn,
  .rooms-reserv-btn {
    cursor: pointer;
  }

  .btn--hover,
  .main-btn {
    position: relative;
  }

  .btn--hover::after,
  .main-btn::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #000;
    transition: all 0.3s;
  }

  .menu-block {
    margin-top: 50px;
    background-color: rgba(175, 151, 112, 1);
    border: 1px solid rgba(175, 151, 112, 1);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
  }

  .btn-hover p,
  .menu-block p {
    color: rgba(46, 46, 46, 1);
    font-size: clamp(1rem, 0.958rem + 0.21vw, 1.125rem);
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  .rooms-btn p,
  .price-btn p,
  .access-btn p,
  .group-btn p {
    color: rgba(46, 46, 46, 1);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  .rooms-reserv-btn p {
    color: rgba(46, 46, 46, 1);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  .btn-hover:hover .main-btn::after {
    width: 100%;
  }

  .menu-block:hover .menu-btn::after {
    width: 100%;
  }

  .rooms-btn:hover .btn--hover::after {
    width: 100%;
  }

  .price-btn:hover .btn--hover::after {
    width: 100%;
  }

  .access-btn:hover .btn--hover::after {
    width: 100%;
  }

  .group-btn:hover .btn--hover::after {
    width: 100%;
  }

  .rooms-reserv-btn:hover .btn--hover::after {
    width: 100%;
  }
  /* ========================================================= */

  .rooms {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .title2,
  .rooms-flex {
    display: flex;
  }

  .rooms-flex {
    padding-left: 40px;
  }

  .title2 {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .title2-style img {
    height: 182px;
    object-fit: cover;
  }

  .rooms-abso {
    margin-top: 80px;
  }

  .rooms-top-ul {
    padding-right: 60px;
  }

  .rooms-detail {
    padding: 50px 0;
  }

  .title2 h1,
  .title3 h1,
  .title4 h1,
  .title5 h1,
  .title6 h1 {
    font-family: "sheila", sans-serif;
    font-weight: 700;
    font-size: clamp(3.875rem, 3.667rem + 1.04vw, 4.5rem);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1),
      rgba(148, 148, 148, 0)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title2 h2 {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: clamp(1.125rem, 1rem + 0.63vw, 1.5rem);
    letter-spacing: 0.08em;
    display: flex;
    align-items: center;
  }

  .title2 h2 {
    position: relative;
    display: inline-block;
    line-height: 65px;
    margin-left: -20px;
  }

  .title2 h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 2px;
    height: 80px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
  }

  .rooms {
    padding: 180px 0;
    max-width: 1280px;
    margin: 0 auto;
  }

  .rooms-price {
    font-size: clamp(0.938rem, 0.917rem + 0.1vw, 1rem);
    width: fit-content;
    --bg-gradient: linear-gradient(rgba(255, 255, 255, 1) 0 100%);
    padding: 1.5rem;
    background-image: var(--bg-gradient), var(--bg-gradient), var(--bg-gradient),
      var(--bg-gradient);
    background-repeat: no-repeat;
    background-size: 30px 1px, 1px 30px, 30px 1px, 1px 30px;
    background-position: left top 5px, right 5px bottom, right bottom 5px,
      left 5px top;
  }

  .rooms-price p {
    line-height: 1.5;
  }

  .rooms-img {
    width: clamp(21.563rem, 10.167rem + 48.62vw, 49.063rem);
    height: clamp(15rem, 8.267rem + 28.73vw, 31.25rem);
    object-fit: cover;
  }

  .rooms-detail p {
    text-align: center;
    font-size: clamp(0.938rem, 0.917rem + 0.1vw, 1rem);
    line-height: 2em;
  }

  .rooms-btn,
  .price-btn {
    margin: 0 auto;
  }

  .rooms-reserv-btn {
    margin: 50px auto 0 auto;
  }

  .title3,
  .title4,
  .title6 {
    text-align: center;
  }

  .title4 h2 {
    font-size: 20px;
    text-align: center;
    margin-top: -30px;
  }

  /* ==========================予約方法======================== */
  .title1 {
    padding-bottom: 130px;
  }

  .title1-style {
    text-align: center;
    padding-bottom: 10px;
  }

  .flow-moji {
    width: 119px;
  }

  .method-img img {
    max-width: 48px;
    object-fit: cover;
  }

  .sp-method-img {
    max-width: 68px;
    margin: 20px auto;
  }

  .sp-method-img img {
    max-width: 68px;
    object-fit: cover;
  }

  .method-mincho {
    text-align: center;
    font-weight: 800;
    font-size: clamp(1.25rem, 1.158rem + 0.43vw, 1.5rem);
  }

  .method-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  .method-moji {
    max-width: 700px;
  }

  .method-moji span {
    text-decoration: underline;
  }

  .method1 {
    padding-top: 50px;
  }

  .method-moji span1 {
    font-weight: bold;
  }

  .method-img {
    padding: 5px 50px 0 0;
  }

  .method-moji h2 {
    font-weight: 700;
    font-size: 20px;
  }

  .method-moji h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
  }
  /* ========================================================= */

  .title3 {
    padding-bottom: 20px;
  }

  .price-moji {
    width: 133px;
  }

  .price-detail {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 0 10%;
  }

  .price-detail1-1,
  .price-detail1-2,
  .price-detail2-1 {
    padding: 15px 0;
  }

  .price-detail2-2 {
    padding: 15px 0 25px 0;
  }

  .price-detail2 {
    padding-left: 50px;
  }

  .price-btn,
  .rooms-reserv-btn {
    font-size: 18px;
  }

  .back-style {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 0 40px 0;
  }

  .price {
    background: rgba(0, 0, 0, 0.2) url("price_img.jpg");
    position: relative;
    height: 530px;
    max-width: 1280px;
    margin: 0 auto;
  }

  a.price-btn {
    margin-top: 10px;
  }

  .slide-show1 img,
  .slide-show2 img {
    width: 100%;
    object-fit: cover;
    border: none;
  }

  .gallery {
    margin: 0 auto;
    padding: 180px 0 0 0;
  }

  .gallery-moji {
    width: 214px;
  }

  .title4,
  .title6 {
    padding-bottom: 50px;
  }

  .title5 {
    padding-bottom: 20px;
  }

  .title5 h2 {
    font-size: 20px;
    letter-spacing: 0.08em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .title5 h2::after {
    background-color: rgba(255, 255, 255, 1);
    content: "";
    height: 1px;
    width: 100px;
    margin-left: 10px;
  }

  .title5 img {
    width: 185px;
  }

  .access-style {
    margin: 0 auto;
    width: 100%;
  }

  .access-flex {
    display: flex;
    align-items: flex-end;
  }

  .title5 h1 {
    display: flex;
    justify-content: flex-end;
  }

  .access-detail {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-around;
  }

  .access-padd {
    margin: 10% 0 5% 0;
  }

  .access-text {
    font-size: clamp(0.938rem, 0.917rem + 0.1vw, 1rem);
    letter-spacing: 0.08em;
  }

  .access {
    padding-top: 180px;
    max-width: 1280px;
    margin: 0 auto;
  }

  .faq {
    padding: 180px 0;
    max-width: 1280px;
    margin: 0 auto;
  }

  .faq-moji {
    width: 194px;
  }

  /*アコーディオン全体*/
  .accordion-area {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
  }

  .accordion-area li {
    margin: 20px 0;
  }

  .accordion-area section {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  /*アコーディオンタイトル*/
  .title {
    position: relative;
    /*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    padding: 3% 3% 3% 30px;
    transition: all 0.5s ease;
  }

  /*アイコンの＋と×*/
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
  }

  .title::before {
    top: 48%;
    right: 20px;
    transform: rotate(0deg);
    transition: all 0.5s;
  }

  .title::after {
    top: 48%;
    right: 20px;
    transform: rotate(90deg);
    transition: all 0.5s;
  }

  /*　closeというクラスがついたら形状変化　*/

  .title.close::before {
    transform: rotate(45deg);
    transition: all 0.5s;
  }

  .title.close::after {
    transform: rotate(-45deg);
    transition: all 0.5s;
  }

  /*アコーディオンで現れるエリア*/
  .box {
    display: none;
    /*はじめは非表示*/
    background: rgba(255, 255, 255, 1);
    margin: 0 3% 3% 3%;
    padding: 3%;
    color: #000000;
  }

  .tenimotsu h3 {
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
  }

  .tenimotsu-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tenimotsu-detail {
    max-width: 350px;
    padding-right: 30px;
  }

  .tenimotsu img {
    width: 400px;
    height: 250px;
    object-fit: cover;
  }

  .checkin,
  .checkout {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 1px rgba(255, 255, 255, 0.3);
  }

  .checkin h4,
  .checkout h4 {
    padding-bottom: 10px;
  }

  .checkin p,
  .checkout p {
    letter-spacing: 0.03em;
    font-size: 15px;
  }

  .tenimotsu-map h4 {
    padding-top: 10px;
  }

  .group,
  .tenimotsu {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 130px;
  }

  .group h2,
  .tenimotsu h2 {
    text-align: center;
    font-size: 24px;
  }

  .group img {
    width: 400px;
    height: 200px;
    object-fit: cover;
  }

  .showamachi,
  .hirooka {
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }

  .showamachi-moji,
  .hirooka-moji {
    padding-left: 50px;
    max-width: 250px;
  }

  .showamachi-moji h4,
  .hirooka-moji h4 {
    padding: 15px 0 10px 0;
  }

  .group h3 {
    font-size: clamp(1.5rem, 1.316rem + 0.86vw, 2rem);
    line-height: 1em;
  }

  .group-btn {
    margin-top: 13px;
  }

  .footer-flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .border {
    border-left: 1px solid #ffffff;
  }

  .footer-right {
    display: flex;
    flex-wrap: wrap;
    max-width: 540px;
    width: 100%;
    margin-left: 30px;
    padding-top: 5px;
  }

  .footer-right li {
    height: fit-content;
    padding: 0 30px;
  }

  .footer h4 {
    font-size: 24px;
  }

  .footer {
    padding: 100px 0 30px 0;
    background-color: rgba(56, 35, 0, 1);
    margin: 0 auto;
  }

  .footer-left h5,
  .footer-left h6 {
    padding-top: 20px;
  }

  .copyright {
    text-align: center;
    padding: 50px 0 30px 0;
    font-size: clamp(0.75rem, 0.708rem + 0.21vw, 0.875rem);
  }

  .footer-left {
    padding-left: 20px;
  }

  .footer-right a,
  .menu-ul a {
    display: inline-block;
    position: relative;
  }

  .footer-right a::after,
  .menu-ul a::after {
    background-color: rgba(255, 255, 255, 1);
    bottom: -2px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: all 0.3s;
    width: 0%;
  }

  .footer-right a:hover::after,
  .menu-ul a:hover::after {
    width: 100%;
  }

  /* ==========ヘッダー・フッター以外のぼかしでふわっと現れるアニメーション＝＝＝＝＝ */
  .blur {
    animation-name: blurAnime;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes blurAnime {
    from {
      opacity: 0;
      filter: blur(10px);
      transform: scale(1.02);
    }

    to {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }
  }

  .blurTrigger {
    opacity: 0;
  }
  /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

  /*====================ハンバーガーメニュー======================*/

  .hbg-btn {
    opacity: 0;
    visibility: hidden;
  }

  .transform1 {
    opacity: 1;
    visibility: visible;
  }

  /*========= ナビゲーションのためのCSS ===============*/

  #g-nav {
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position: fixed;
    z-index: -1;
    opacity: 0;
    /*はじめは透過0*/
    /*ナビの位置と形状*/
    top: 0;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: #222;
    /*動き*/
    transition: all 1s;
    display: none;
  }

  /*アクティブクラスがついたら透過なしにして最前面へ*/
  #g-nav.panelactive {
    opacity: 1;
    z-index: 999999;
  }

  /*========= ボタンのためのCSS ===============*/
  .openbtn {
    position: fixed;
    z-index: 99999999;
    top: 10px;
    right: 1px;
    cursor: pointer;
    width: 100px;
    height: 60px;
  }

  /*×に変化*/
  .openbtn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 2px;
    width: 55%;
    background-color: rgba(255, 255, 255, 1);
  }

  .openbtn span:nth-of-type(1) {
    top: 18px;
  }

  .openbtn span:nth-of-type(2) {
    top: 30px;
  }

  .openbtn span:nth-of-type(3) {
    top: 42px;
  }

  .openbtn.active span:nth-of-type(1) {
    top: 21px;
    left: 15px;
    transform: translateY(6px) rotate(-25deg);
    width: 50%;
    background-color: rgba(255, 255, 255, 1);
  }

  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn.active span:nth-of-type(3) {
    top: 33px;
    left: 15px;
    transform: translateY(-6px) rotate(25deg);
    width: 50%;
    background-color: rgba(255, 255, 255, 1);
  }

  .menu-img {
    width: 50%;
    min-height: 100vh;
  }

  .menu-img img {
    width: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    object-fit: cover;
  }

  .menu-wrap {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
  }

  .menu-info {
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-ul {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
  }

  .menu-li {
    width: 48.5%;
    margin-bottom: 20px;
    text-align: center;
  }

  .menu-logo {
    width: 200px;
    margin: 0 auto 50px auto;
    position: relative;
  }

  .menu-logo img {
    width: 93%;
  }

  a.menu-btn,
  a.main-btn {
    transition: 0.5s;
  }

  /*========================= splash =======================*/
  #splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #222;
    z-index: 9999999;
  }

  #splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex; */
  }

  #splash-logo img {
    width: 200px;
    height: auto;
    object-fit: cover;
  }

  /*====== 画面遷移のためのCSS ======*/
  body {
    background: #222;
    /*遷移アニメーションと同じ色を指定*/
  }

  body.appear {
    background: #222;
    /*画面を開いた後の背景色を指定*/
  }

  /*画面遷移アニメーション*/
  .splashbg1,
  .splashbg2 {
    display: none;
  }

  /*bodyにappearクラスがついたら出現*/
  body.appear .splashbg1,
  body.appear .splashbg2 {
    display: block;
  }

  /*上に消えるエリア*/
  body.appear .splashbg1 {
    animation-name: PageAnime;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: fixed;
    z-index: 999;
    width: 50%;
    height: 100dvh;
    top: 0;
    right: 0;
    transform: scaleX(1);
    background: #222;
    /*伸びる背景色の設定*/
  }

  @keyframes PageAnime {
    0% {
      transform-origin: right;
      transform: scaleX(1);
    }

    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
  }

  /*下に消えるエリア*/
  body.appear .splashbg2 {
    animation-name: PageAnime2;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: "";
    position: fixed;
    z-index: 999;
    width: 50%;
    height: 100dvh;
    top: 0;
    left: 0;
    transform: scaleX(1);
    background: #222;
    /*伸びる背景色の設定*/
  }

  @keyframes PageAnime2 {
    0% {
      transform-origin: left;
      transform: scaleX(1);
    }

    100% {
      transform-origin: left;
      transform: scaleX(0);
    }
  }

  /*画面遷移の後現れるコンテンツ設定*/
  #container {
    opacity: 0;
    /*はじめは透過0に*/
  }

  /*bodyにappearクラスがついたら出現*/
  body.appear #container {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes PageAnimeAppear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  /*========================= splash =======================*/

  /* ===========================アバウトページ====================== */
  .sub-page-title {
    z-index: 9998;
    position: absolute;
    left: 0%;
    bottom: 10%;
  }

  .sub-page-title {
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
    padding: 20px 30px 20px 100px;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
  }

  .sub-page-title1::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 15px;
    left: 0px;
  }

  .about,
  .rooms-page,
  .access-page {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1280px;
  }

  .about-img {
    height: 450px;
  }

  .about-img img {
    height: 450px;
  }

  .about-title,
  .rooms-title,
  .access-title {
    margin: 0 auto 50px auto;
    max-width: 400px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }

  .about-title h1,
  .rooms-title h1,
  .access-title h1 {
    font-size: clamp(1.5rem, 1.333rem + 0.83vw, 2rem);
    text-align: center;
  }

  .about-title-moji,
  .rooms-title-moji {
    margin: 0 auto 100px auto;
    max-width: 400px;
    text-align: center;
  }

  .about-title-moji h3,
  .rooms-title-moji h3 {
    font-weight: 100;
  }

  .ab-cont-1,
  .ab-cont-2,
  .ab-cont-3,
  .ab-cont-4 {
    display: flex;
  }

  .ab-cont-2,
  .ab-cont-3,
  .ab-cont-4 {
    padding-top: 150px;
  }

  .ab-cont-li h2 {
    font-size: 24px;
  }

  .ab-cont-li h3 {
    font-size: 15px;
  }

  .ab-text-left,
  .ab-text-right {
    width: 40%;
    display: flex;
    align-items: flex-end;
  }

  .ab-text-left {
    justify-content: end;
  }

  .ab-text-right {
    justify-content: start;
  }

  .ab-img-right {
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: 0 0 0 auto;
  }

  .ab-img-left {
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: 0 auto 0 0;
  }

  .ab-text-mar {
    padding-top: clamp(3.125rem, 1.458rem + 8.33vw, 8.125rem);
    max-width: 280px;
    margin: 0 50px;
  }

  .ab-text-mar h2 {
    display: inline-block;
    font-weight: 100;
  }

  .ab-text-mar h3 {
    padding-top: 20px;
    letter-spacing: 0.1rem;
    font-weight: 100;
  }

  /* ===========================お部屋についてページ====================== */

  .madori-h1 {
    width: 90%;
    padding-top: 130px;
  }

  .madori-title {
    text-align: center;
    font-size: 24px;
  }

  .rooms-wrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rooms-ul {
    width: 40%;
    margin: 30px;
  }

  .rooms-ul img {
    object-fit: cover;
  }

  .rooms-ul p {
    font-size: 15px;
  }

  .rooms-madori {
    width: 40%;
    margin: 30px;
  }

  .madori-wrap {
    text-align: center;
  }

  .rooms-madori h2 {
    text-align: center;
    padding-bottom: 10px;
  }

  .equipment-detail,
  .amenities-detail,
  .charge-detail {
    width: 90%;
    margin: 80px auto 30px auto;
  }

  .rooms-block {
    width: 90%;
    margin: 0 auto;
  }

  .equip-h1,
  .amen-h1,
  .charge-h1,
  .spot-h1,
  .madori-h1,
  .shisetu-title {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  .ab-text-mar h2 {
    display: flex;
    align-items: center;
  }

  .equip-h1:before,
  .equip-h1:after,
  .amen-h1:before,
  .amen-h1:after,
  .charge-h1:before,
  .charge-h1:after,
  .spot-h1:before,
  .spot-h1:after,
  .madori-h1:before,
  .madori-h1:after,
  .shisetu-title:after,
  .ab-text-mar h2:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 1);
  }

  .equip-h1:before,
  .amen-h1:before,
  .charge-h1:before,
  .spot-h1:before,
  .madori-h1:before {
    margin-right: 1rem;
  }

  .equip-h1:after,
  .amen-h1:after,
  .charge-h1:after,
  .spot-h1:after,
  .madori-h1:after,
  .shisetu-title:after,
  .ab-text-mar h2:after {
    margin-left: 1rem;
  }

  .equip-table,
  .ameni-table,
  .charge-table {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto 120px auto;
    text-align: left;
    border-collapse: collapse;
    font-size: clamp(0.938rem, 0.893rem + 0.22vw, 1rem);
  }

  .equip-table th,
  .ameni-table th,
  .charge-table th {
    width: 25%;
    max-width: 300px;
    padding: 40px 40px 40px 20px;
  }

  .equip-table th,
  .equip-table td,
  .ameni-table th,
  .ameni-table td,
  .charge-table th,
  .charge-table td {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    padding: 30px 40px 30px 50px;
    line-height: 1.4;
  }

  .equip-border-top th,
  .ameni-border-top th,
  .charge-border-top th {
    border-top: 1px dotted rgba(255, 255, 255, 0.5);
  }

  .equip-border-top td,
  .ameni-border-top td,
  .charge-border-top td {
    border-top: 1px dotted rgba(255, 255, 255, 0.5);
  }

  .amenities-detail {
    max-width: 1000px;
  }

  .ameni-wrap {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .ameni-wrap ul {
    width: 31%;
    margin: 10px;
  }

  .access-page iframe {
    filter: grayscale(100%);
  }

  .ac-cont {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 50px;
  }

  .ac-cont-li-right iframe {
    width: clamp(31.25rem, 4.444rem + 55.77vw, 49.063rem);
    height: 500px;
  }

  .ac-cont-li-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .ac-cont-li-left h3 {
    font-weight: 100;
  }

  .spot,
  .kankou-spot {
    margin: 150px auto 50px auto;
    width: 90%;
  }

  .spot-h1 h1 {
    font-weight: 100;
  }

  .spot-wrap {
    max-width: 1000px;
    margin: 50px auto;
  }

  .spot-ul {
    padding: 50px 0;
    display: flex;
  }

  .spot-ul img {
    width: 100%;
  }

  .spot-map {
    width: 100%;
    text-align: right;
  }

  .spot-map h4 {
    font-size: 15px;
    font-weight: 100;
  }

  .spot-wrap li {
    width: 100%;
  }

  .spot-ul img {
    object-fit: cover;
  }

  .spot-ul p {
    font-size: 15px;
  }

  .spot h2 {
    font-size: 24px;
    font-weight: 100;
  }

  .spot h3 {
    font-size: 15px;
    font-weight: 100;
    line-height: 1.8rem;
  }

  .kankou-spot {
    max-width: 1000px;
    margin: 0 auto;
  }

  .kankou-flex,
  .kankou-detail {
    display: flex;
    justify-content: space-between;
  }

  .kankou-flex ul {
    max-width: 300px;
  }

  .kankou-margin {
    margin: 0 20px;
  }

  .kankou-flex {
    padding: 50px 0;
  }

  .kankou-flex span {
    font-weight: 100;
    font-size: 15px;
  }

  .kankou-flex p {
    font-weight: 100;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 0.8em;
  }

  .kankou-flex img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .about-blur,
  .access-blur,
  .rooms-blur {
    animation: loading 3s;
  }

  @keyframes loading {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  a.gallery {
    outline: none;
  }

  .overlay_opacity {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .hbg-btn {
    opacity: 1;
    visibility: visible;
  }

  .openbtn span {
    background-color: rgba(255, 255, 255, 1);
  }

  .main-btn {
    display: none;
  }

  .sp-main-btn {
    z-index: 9998;
    position: fixed;
    left: 0%;
    bottom: 0%;
    display: flex;
    text-align: center;
    width: 100%;
  }

  .sp-main-btn .sp-main-btn01 {
    flex-grow: 1;
    position: relative;
    height: 40px;
    line-height: 40px;
    background-color: rgba(175, 151, 112, 1);
  }

  .sp-main-btn .sp-main-btn01::after {
    position: absolute;
    top: 0;
    left: 100%;
    content: "";
    width: 1px;
    height: 100%;
    background-color: rgba(46, 46, 46, 1);
  }

  .sp-main-btn .sp-main-btn02 {
    flex-grow: 1;
    height: 40px;
    line-height: 40px;
    background-color: rgba(175, 151, 112, 1);
  }

  .sp-main-btn01,
  .sp-main-btn02 {
    width: 50%;
  }

  .sp-main-btn01 a,
  .sp-main-btn02 a {
    color: rgba(46, 46, 46, 1);
    letter-spacing: 0.05em;
    font-size: 16px;
  }

  .title5 h1 {
    text-align: center;
  }

  .rooms h3,
  .price h2,
  .gallery h2,
  .access h2,
  .faq h2,
  .title1 h4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title2 h3::before,
  .price h2::before,
  .gallery h2::before,
  .access h2::before,
  .faq h2::before,
  .title1 h4::before {
    background-color: rgba(255, 255, 255, 1);
    content: "";
    flex-grow: 1;
    height: 1px;
    margin-right: 10px;
  }

  .title2 h3::after,
  .price h2::after,
  .gallery h2::after,
  .access h2::after,
  .faq h2::after,
  .title1 h4::after {
    background-color: rgba(255, 255, 255, 1);
    content: "";
    flex-grow: 1;
    height: 1px;
    margin-left: 10px;
  }

  .pc-map {
    display: none;
  }

  .title2 {
    display: block;
  }

  .title2-style {
    width: auto;
    height: auto;
    position: static;
  }

  .rooms-moji {
    text-align: center;
    position: static;
    width: auto;
    transform: none;
    transform-origin: 50% 50% 0;
  }

  .title2 h3 {
    font-size: clamp(1.125rem, 1rem + 0.63vw, 1.5rem);
    align-items: center;
  }

  .title2 h2 {
    display: none;
  }

  .title2-style-sp {
    text-align: center;
  }

  .title2-style-sp img {
    width: 180px;
  }

  .rooms-img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    margin: 50px auto;
    display: block;
  }

  .rooms-flex {
    padding-left: 0px;
  }

  .rooms-abso {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
  }

  .rooms-style {
    margin: 0;
  }

  .rooms-detail {
    text-align: center;
  }

  .back-style {
    background-color: transparent;
    width: 100%;
    position: static;
    top: auto;
    left: auto;
    transform: none;
    padding: 0;
    margin: 0 auto;
    display: block;
  }

  .method-img {
    display: none;
  }

  .method-moji h2 {
    font-size: 18px;
  }

  .method-moji h3,
  .method-moji2 h4 {
    font-size: 15px;
  }

  .sp-method-img img {
    max-width: 50px;
  }

  .method-flex {
    padding-bottom: 80px;
  }

  .title1 {
    padding-bottom: 100px;
    max-width: 90%;
    margin: 0 auto;
  }

  .price {
    background: none;
    height: auto;
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
  }

  .price-detail {
    display: block;
    padding: 0;
    margin: 30px auto;
    font-size: 15px;
    width: fit-content;
  }

  .price-detail2 {
    padding-left: 0;
  }

  .title3 {
    padding-bottom: 0px;
  }

  .title4 {
    max-width: 90%;
    margin: 0 auto;
  }

  .title5 h1 {
    display: block;
  }

  .title5 {
    padding-left: 0;
  }

  .access {
    padding-top: 100px;
  }

  .access-flex iframe {
    filter: grayscale(100%);
  }

  .access-flex {
    display: block;
    width: auto;
    margin: 40px auto 0 auto;
  }

  .access-style {
    margin: 0 auto;
    width: 100%;
  }

  .access-detail {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
  }

  .access-padd {
    text-align: left;
    margin: 35px 0 0 0;
  }

  a.access-btn {
    margin: 50px auto 0 auto;
  }

  .rooms-moji {
    display: none;
  }

  .slide-show1,
  .slide-show2 {
    display: none;
  }

  .slide-show1-sp img {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }

  .faq-moji {
    width: 145px;
  }

  .accordion-area p,
  .accordion-area h3 {
    font-size: 15px;
  }

  .tenimotsu-flex {
    display: block;
  }

  .tenimotsu-detail {
    padding-right: 0px;
    max-width: unset;
  }

  .tenimotsu h2 {
    font-size: 23px;
  }

  .tenimotsu h3 {
    font-size: 16px;
  }

  .tenimotsu-img {
    max-width: 400px;
    margin: 0 auto;
  }

  .group,
  .tenimotsu {
    max-width: 90%;
  }

  .showamachi,
  .hirooka {
    display: block;
    padding: 30px 0;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
  }

  .showamachi-moji,
  .hirooka-moji {
    padding-left: 0px;
  }

  .showamachi-moji a {
    display: block;
    margin: 30px auto 0 auto;
  }

  .showamachi-moji,
  .hirooka-moji {
    max-width: none;
  }

  .group h3 {
    padding-top: 10px;
  }

  .footer-flex {
    display: block;
    font-size: 15px;
  }

  .footer-right {
    display: block;
    max-width: none;
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    text-align: center;
  }

  .footer-right a::after {
    background-color: transparent;
    bottom: 0;
    content: none;
    height: 0;
    left: 0;
    opacity: 0;
    position: static;
    transition: all 0.3s;
    width: auto;
  }

  .footer-left {
    padding-left: 0;
  }

  .footer-right li {
    height: fit-content;
    padding: 5px 0;
  }

  .footer a,
  .footer h5,
  .footer p {
    text-align: center;
  }

  .border {
    border-left: none;
  }

  .footer-left h6 {
    padding-bottom: 30px;
  }

  .footer {
    padding: 50px 0 30px 0;
  }

  .sub-moji1 {
    padding: 20px 0px 20px 25px;
  }

  .sub-moji2 {
    padding-left: 25px;
    margin-top: -8px;
  }

  .openbtn span {
    left: 50px;
    width: 35%;
  }

  .header-logo {
    width: 120px;
    margin: 15px;
  }

  .openbtn span:nth-of-type(1) {
    top: 10px;
  }

  .openbtn span:nth-of-type(2) {
    top: 20px;
  }

  .openbtn span:nth-of-type(3) {
    top: 30px;
  }

  .openbtn.active span:nth-of-type(1) {
    top: 15px;
    left: 36px;
    width: 42%;
  }

  .openbtn.active span:nth-of-type(3) {
    top: 27px;
    left: 36px;
    width: 42%;
  }

  header {
    height: 58px;
  }

  .menu-img {
    display: none;
  }

  .menu-wrap {
    display: block;
  }

  .menu-info {
    width: auto;
  }

  #splash-logo img {
    width: clamp(7.5rem, 3.929rem + 17.86vw, 12.5rem);
  }

  .about-img {
    height: auto;
  }

  .about-img img {
    height: 63dvh;
  }

  .about {
    padding: 50px 0;
    width: 90%;
  }

  .about-title-moji h3 {
    text-align: center;
  }

  .ab-cont-1,
  .ab-cont-2,
  .ab-cont-3,
  .ab-cont-4 {
    display: block;
  }

  .ab-img-right {
    display: none;
  }

  .ab-text-left,
  .ab-text-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .ab-text-mar {
    padding-top: 30px;
    max-width: none;
  }

  .ab-img-left {
    width: auto;
  }

  .menu-logo img {
    width: clamp(9.375rem, 7.143rem + 11.16vw, 12.5rem);
  }

  .menu-ul {
    display: block;
  }

  .menu-li {
    width: 100%;
  }

  .menu-block {
    width: auto;
  }

  .sub-page-title {
    display: none;
  }

  .rooms-title {
    margin-bottom: 30px;
  }

  .rooms-title h1 {
    font-weight: 100;
  }

  .rooms-title-moji h3 {
    text-align: left;
    font-weight: 100;
  }

  .rooms-title-moji {
    margin: 0 auto 100px auto;
  }

  .ab-cont-2,
  .ab-cont-3,
  .ab-cont-4 {
    padding-top: 100px;
  }

  .rooms-wrap {
    display: block;
  }

  .rooms-ul {
    width: auto;
    max-width: 550px;
    margin: 45px auto;
  }

  .rooms-madori {
    width: 80%;
    margin: 30px auto 50px auto;
    padding: 15px 0;
  }

  .equip-table th,
  .ameni-table th,
  .charge-table th {
    width: 30%;
    padding: 40px 0px 40px 20px;
  }

  .equip-table th,
  .equip-table td,
  .ameni-table th,
  .ameni-table td,
  .charge-table th,
  .charge-table td {
    padding: 30px 10px 30px 50px;
  }

  .ameni-wrap {
    margin: 40px auto;
    display: block;
    width: 100%;
  }

  .ameni-wrap ul {
    width: auto;
    margin: 30px auto;
    max-width: 550px;
  }

  .access-page-title {
    width: 90%;
    margin: 0 auto;
  }

  .ac-cont {
    display: block;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    width: auto;
    padding-top: 20px;
    text-align: center;
  }

  .ac-cont-li-right {
    display: none;
  }

  .ac-cont-li-left {
    padding-top: 30px;
    width: 90%;
    text-align: left;
    justify-content: flex-start;
  }

  .ac-cont-li-left {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .shisetu-title {
    padding: 10px 0;
  }

  .spot-wrap {
    display: block;
    max-width: 1050px;
    margin: 30px auto;
  }

  .spot-ul {
    width: auto;
    max-width: 550px;
    margin: auto;
    display: block;
  }

  .spot {
    margin: 80px auto;
  }

  .spot-pc {
    display: none;
  }

  .rooms-page,
  .access-page {
    padding: 50px 0 0 0;
  }

  header.transform {
    background-color: transparent;
  }

  iframe {
    width: 100%;
    height: auto;
    margin-right: 0;
    aspect-ratio: 16/9;
  }

  .title2-style {
    display: none;
  }

  .rooms-flex {
    display: block;
  }

  .rooms-abso {
    display: none;
  }

  .sp-rooms-abso {
    display: flex;
    justify-content: center;
  }

  .rooms-top-ul {
    padding-right: 0;
  }

  .access-flex iframe {
    margin-right: 0;
  }

  .btn-hover {
    display: none;
  }

  .rooms,
  .access,
  .reservation-method {
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 0px auto;
  }

  .faq {
    max-width: 90%;
  }

  .title5 h2::after {
    width: auto;
  }

  .accordion-area {
    width: 100%;
  }

  .ab-text-mar {
    margin: 0px;
  }

  .menu-logo {
    width: fit-content;
  }

  .kankou-flex {
    display: block;
    padding: 0;
    max-width: 300px;
    margin: 0 auto;
  }

  .kankou-all {
    padding: 50px 0;
  }

  .kankou-flex ul {
    padding: 30px 0;
  }

  .kankou-margin {
    margin: 0px;
  }
}

@media screen and (max-width: 450px) {
  .equip-table tr,
  .ameni-table tr,
  .charge-table tr,
  .equip-table td,
  .ameni-table td,
  .charge-table td {
    width: auto;
    display: block;
  }

  .equip-table td,
  .ameni-table td,
  .charge-table td {
    padding: 10px 15px 25px 15px;
  }

  .equip-table th,
  .ameni-table th,
  .charge-table th {
    width: 100%;
    padding: 25px 15px 5px 15px;
    border-bottom: none;
  }

  .equip-border-top td,
  .ameni-border-top td,
  .charge-border-top td {
    border-top: none;
  }

  .equip-border-top,
  .ameni-border-top,
  .charge-border-top {
    border-top: 1px dotted rgba(255, 255, 255, 0.5);
  }

  .equip-border-top th,
  .ameni-border-top th,
  .charge-border-top th {
    border-top: none;
  }

  .equip-table,
  .ameni-table,
  .charge-table {
    max-width: 400px;
    width: 100%;
    margin: 50px auto 120px auto;
  }
}

@media screen and (max-width: 400px) {
  .title {
    padding: 3% 5% 3% 7px;
  }

  .title::before {
    right: 10px;
  }

  .title::after {
    right: 10px;
  }

  .title::before,
  .title::after {
    width: 10px;
  }
}

/* ================レスポンシブ用非表示================== */
@media screen and (min-width: 769px) {
  .sp-main-btn {
    display: none;
  }

  .title2 h3 {
    display: none;
  }

  .sp-dots {
    display: none;
  }

  .sp-ab-img-right {
    display: none;
  }

  .sp-rooms-abso {
    display: none;
  }

  .sp-iframe-style-ac {
    display: none;
  }

  .sp-br {
    display: none;
  }

  .sp-method-img {
    display: none;
  }

  .rooms-title {
    display: none;
  }

  .access-title {
    display: none;
  }

  .sp-map {
    display: none;
  }

  .spot-sp {
    display: none;
  }

  .spot-pc,
  .spot-pcsp {
    max-width: 325px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .spot-pc {
    padding-right: 30px;
  }

  .spot-pcsp {
    padding-left: 30px;
  }

  .shisetu-title {
    width: 100%;
    text-align: left;
    padding-bottom: 15px;
  }

  .slide-show1-sp {
    display: none;
  }

  .access-flex iframe {
    width: clamp(21.563rem, 10.167rem + 48.62vw, 49.063rem);
    height: clamp(15rem, 8.267rem + 28.73vw, 31.25rem);
    margin-right: clamp(2.5rem, 0.946rem + 6.63vw, 6.25rem);
    filter: grayscale(100%);
  }

  .title2-style-sp {
    display: none;
  }
}
